#header {
    position: absolute;
    top: 2%;
  }
  
  .mt-5 {
    margin-top: 5px !important;
  }
  
  .table {
    justify-content: center !important;
  }

  .mat-cell {
      padding: 10px;
  }

.mat-elevation-z8 {
    margin-top: 2px;
}
