<div  mat-dialog-title align="center">
  <h4> {{title}} </h4>
</div>
<mat-dialog-content>
    <div [@flyInOut]="navigationState" class="container">
      <mat-card class="content-card">
          <mat-card-content>
            <div class="table-responsive" class="mt-5">
              <div>
                <mat-card class="title">
                  <h4>
                    For each of the following statements, please indicate to what degree
                    you agree on the scale provided below.
                  </h4>
                  <h5>(1 = strongly agree, 5 = strongly disagree)</h5>
                </mat-card>
                <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">
                  <ng-container matColumnDef="question">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">{{
                      element.question
                    }}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="StronglyDisagree">
                    <mat-header-cell *matHeaderCellDef class="table"
                      >Strongly disagree</mat-header-cell
                    >
                    <mat-cell *matCellDef="let element" class="table">
                      <mat-radio-button (click)="setQuestionOne(element.stronglyDisagree, element.position)" name="{{element.position}}1"></mat-radio-button
                    ></mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="SomewhatDisagree">
                    <mat-header-cell *matHeaderCellDef class="table"
                      >Somewhat disagree</mat-header-cell
                    >
                    <mat-cell *matCellDef="let element" class="table"
                      ><mat-radio-button (click)="setQuestionOne(element.somewhatDisagree, element.position)" name="{{element.position}}1" ></mat-radio-button
                    ></mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Neither">
                    <mat-header-cell *matHeaderCellDef class="table"
                      >Neither agree nor disagree</mat-header-cell
                    >
                    <mat-cell *matCellDef="let element" class="table"
                      ><mat-radio-button (click)="setQuestionOne(element.neither, element.position)" name="{{element.position}}1"></mat-radio-button
                    ></mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="SomewhatAgree">
                    <mat-header-cell *matHeaderCellDef class="table"
                      >Somewhat agree</mat-header-cell
                    >
                    <mat-cell *matCellDef="let element" class="table"
                      ><mat-radio-button (click)="setQuestionOne(element.somewhatAgree, element.position)" name="{{element.position}}1"></mat-radio-button
                    ></mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="StronglyAgree">
                    <mat-header-cell *matHeaderCellDef class="table"
                      >Strongly agree</mat-header-cell
                    >
                    <mat-cell *matCellDef="let element" class="table"
                      ><mat-radio-button (click)="setQuestionOne(element.stronglyAgree, element.position)" name="{{element.position}}1"></mat-radio-button
                    ></mat-cell>
                  </ng-container>
                  <mat-header-row
                    *matHeaderRowDef="displayedColumns; sticky: true"
                  ></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                </mat-table>
              </div>
              &nbsp;
              <div>
                <mat-card class="title">
                  <h4>
                    Please indicate to what degree you believe your opponent had been
                    "insert emotion here" during the negotiation
                  </h4>
                  <h5>(1 = stongly disagree, 7 = strongly agree)</h5>
                </mat-card>
                <mat-table #table [dataSource]="dataSource2" class="mat-elevation-z8">
                  <ng-container matColumnDef="question">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element1">{{
                      element1.question
                    }}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="StronglyDisagree">
                    <mat-header-cell *matHeaderCellDef class="table"
                      >Totally disagree</mat-header-cell
                    >
                    <mat-cell *matCellDef="let element1" class="table">
                      <mat-radio-button (click)="setQuestionTwo(element1.stronglyDisagree, element1.position)" name="{{element1.position}}2"></mat-radio-button
                    ></mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="SomewhatDisagree">
                    <mat-header-cell *matHeaderCellDef class="table"
                      >Moderately disagree</mat-header-cell
                    >
                    <mat-cell *matCellDef="let element1" class="table"
                      ><mat-radio-button (click)="setQuestionTwo(element1.somewhatDisagree, element1.position)" name="{{element1.position}}2"></mat-radio-button
                    ></mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Neither">
                    <mat-header-cell *matHeaderCellDef class="table"
                      >Slightly disagree</mat-header-cell
                    >
                    <mat-cell *matCellDef="let element1" class="table"
                      ><mat-radio-button (click)="setQuestionTwo(element1.neither, element1.position)" name="{{element1.position}}2"></mat-radio-button
                    ></mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="SomewhatAgree">
                    <mat-header-cell *matHeaderCellDef class="table"
                      >Neither agree nor disagree</mat-header-cell
                    >
                    <mat-cell *matCellDef="let element1" class="table"
                      ><mat-radio-button (click)="setQuestionTwo(element1.somewhatAgree, element1.position)" name="{{element1.position}}2"></mat-radio-button
                    ></mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="StronglyAgree">
                    <mat-header-cell *matHeaderCellDef class="table"
                      >Slightly agree</mat-header-cell
                    >
                    <mat-cell *matCellDef="let element1" class="table"
                      ><mat-radio-button (click)="setQuestionTwo(element1.stronglyAgree, element1.position)" name="{{element1.position}}2"></mat-radio-button
                    ></mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Six">
                      <mat-header-cell *matHeaderCellDef class="table"
                        >Moderately agree</mat-header-cell
                      >
                      <mat-cell *matCellDef="let element1" class="table"
                        ><mat-radio-button (click)="setQuestionTwo(element1.six, element1.position)" name="{{element1.position}}2"></mat-radio-button
                      ></mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Seven">
                        <mat-header-cell *matHeaderCellDef class="table"
                          >Totally agree</mat-header-cell
                        >
                        <mat-cell *matCellDef="let element1" class="table"
                          ><mat-radio-button (click)="setQuestionTwo(element1.seven, element1.position)" name="{{element1.position}}2"></mat-radio-button
                        ></mat-cell>
                      </ng-container>
        
                  <mat-header-row
                    *matHeaderRowDef="displayedColumns2; sticky: true"
                  ></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns2"></mat-row>
                </mat-table>
              </div>
              &nbsp;
              <div>
                <mat-card class="title">
                  <h4>
                    Please indicate how you feel about what just happened within the negotiation
                  </h4>
                  <h5>(1 = not at all, 7 = very much)</h5>
                </mat-card>
                <mat-table #table [dataSource]="dataSource3" class="mat-elevation-z8">
                  <ng-container matColumnDef="question">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element2">{{
                        element2.question
                    }}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="StronglyDisagree">
                    <mat-header-cell *matHeaderCellDef class="table"
                      >Totally disagree</mat-header-cell
                    >
                    <mat-cell *matCellDef="let element2" class="table">
                      <mat-radio-button (click)="setQuestionThree(element2.stronglyDisagree, element2.position)" name="{{element2.position}}3"></mat-radio-button
                    ></mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="SomewhatDisagree">
                    <mat-header-cell *matHeaderCellDef class="table"
                      >Moderately disagree</mat-header-cell
                    >
                    <mat-cell *matCellDef="let element2" class="table"
                      ><mat-radio-button (click)="setQuestionThree(element2.somewhatDisagree, element2.position)" name="{{element2.position}}3"></mat-radio-button
                    ></mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Neither">
                    <mat-header-cell *matHeaderCellDef class="table"
                      >Slightly disagree</mat-header-cell
                    >
                    <mat-cell *matCellDef="let element2" class="table"
                      ><mat-radio-button (click)="setQuestionThree(element2.neither, element2.position)" name="{{element2.position}}3"></mat-radio-button
                    ></mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="SomewhatAgree">
                    <mat-header-cell *matHeaderCellDef class="table"
                      >Neither agree nor disagree</mat-header-cell
                    >
                    <mat-cell *matCellDef="let element2" class="table"
                      ><mat-radio-button (click)="setQuestionThree(element2.somewhatAgree, element2.position)" name="{{element2.position}}3"></mat-radio-button
                    ></mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="StronglyAgree">
                    <mat-header-cell *matHeaderCellDef class="table"
                      >Slightly agree</mat-header-cell
                    >
                    <mat-cell *matCellDef="let element2" class="table"
                      ><mat-radio-button (click)="setQuestionThree(element2.stronglyAgree, element2.position)" name="{{element2.position}}3"></mat-radio-button
                    ></mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Six">
                      <mat-header-cell *matHeaderCellDef class="table"
                        >Moderately agree</mat-header-cell
                      >
                      <mat-cell *matCellDef="let element2" class="table"
                        ><mat-radio-button (click)="setQuestionThree(element2.six, element2.position)" name="{{element2.position}}3"></mat-radio-button
                      ></mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Seven">
                        <mat-header-cell *matHeaderCellDef class="table"
                          >Totally agree</mat-header-cell
                        >
                        <mat-cell *matCellDef="let element2" class="table"
                          ><mat-radio-button (click)="setQuestionThree(element2.seven, element2.position)" name="{{element2.position}}3"></mat-radio-button
                        ></mat-cell>
                      </ng-container>
        
                  <mat-header-row
                    *matHeaderRowDef="displayedColumns2; sticky: true"
                  ></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns2"></mat-row>
                </mat-table>
              </div>
              &nbsp;
              <div>
                <mat-card class="title">
                  <h4>
                    This scale consists of a number of words that describe different feelings and emotions. Read each item
                    and then mark the appropriate answer in the space next to that word. Indicate to what extent you have felt 
                    this way during the negotiation. Use the following scale to record your answers: 
                  </h4>
                  <h5>(1 = very slightly or not at all, 5 = extremely)</h5>
                </mat-card>
                <mat-table #table [dataSource]="dataSource4" class="mat-elevation-z8">
                  <ng-container matColumnDef="question">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element3">{{
                        element3.question
                    }}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="StronglyDisagree">
                    <mat-header-cell *matHeaderCellDef class="table"
                      >Strongly disagree</mat-header-cell
                    >
                    <mat-cell *matCellDef="let element3" class="table">
                      <mat-radio-button (click)="setQuestionFour(element3.stronglyDisagree, element3.position)" name="{{element3.position}}4"></mat-radio-button
                    ></mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="SomewhatDisagree">
                    <mat-header-cell *matHeaderCellDef class="table"
                      >Somewhat disagree</mat-header-cell
                    >
                    <mat-cell *matCellDef="let element3" class="table"
                      ><mat-radio-button (click)="setQuestionFour(element3.somewhatDisagree, element3.position)" name="{{element3.position}}4"></mat-radio-button
                    ></mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Neither">
                    <mat-header-cell *matHeaderCellDef class="table"
                      >Neither agree nor disagree</mat-header-cell
                    >
                    <mat-cell *matCellDef="let element3" class="table"
                      ><mat-radio-button (click)="setQuestionFour(element3.neither, element3.position)" name="{{element3.position}}4"></mat-radio-button
                    ></mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="SomewhatAgree">
                    <mat-header-cell *matHeaderCellDef class="table"
                      >Somewhat agree</mat-header-cell
                    >
                    <mat-cell *matCellDef="let element3" class="table"
                      ><mat-radio-button (click)="setQuestionFour(element3.somewhatAgree, element3.position)" name="{{element3.position}}4"></mat-radio-button
                    ></mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="StronglyAgree">
                    <mat-header-cell *matHeaderCellDef class="table"
                      >Strongly agree</mat-header-cell
                    >
                    <mat-cell *matCellDef="let element3" class="table"
                      ><mat-radio-button (click)="setQuestionFour(element3.stronglyAgree, element3.position)" name="{{element3.position}}4"></mat-radio-button
                    ></mat-cell>
                  </ng-container>
        
                  <mat-header-row
                    *matHeaderRowDef="displayedColumns; sticky: true"
                  ></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                </mat-table>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
    </div>
</mat-dialog-content>
<mat-dialog-actions  align="end">
  <button (click)="submitSurvey()" mat-button mat-raised-button color="primary"><i class="material-icons">done</i> &nbsp; Submit Survey</button>
 <!--  <button (click)="submitSurvey()" [disabled]="!surveyCompleted()" mat-button mat-raised-button color="primary"><i class="material-icons">done</i> &nbsp; Submit Survey</button> -->
</mat-dialog-actions>
