.terms-card {
    width: 85%;
    height: 100%;
    margin: 10px auto;
    background-color:  #fafafa;
}

.participants-card {
    justify-content: left;
    width: 95%;
    height: 90%;
    margin: 10px auto;
    background-color:  #ffffff;
}

.main-div {
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-div {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.terms-body {
    margin-top: 15px;
    margin-left: 15px;
}

.chat-box {
    position: absolute;
    left: 20px;
    background-color: #ffffff !important;
    width: 100%;
    border: 3px black;
}

.participants-container {
    height: 25%;
    width: 100%;
    position: absolute;
    top: 0px;
}

.reminders-container {
    height: 60%;
    width: 90%;
    position: absolute;
    top: 115px;
    margin-left: 9px;
    margin-right: 20px;
}

.btn-send {
    position: absolute;
    top: 135px;
    left: 10px;
}

.btn-emojis {
    position: absolute;
    top: 178px;
    left: 10px;
}

.btn-accept {
    position: absolute;
    top: 178px;
    left: 150px;
}

.btn-decline {
    position: absolute;
    top: 135px;
    left: 150px;
}

.reminder {
    margin-top: 5px;
}