<div class="main-div">
  <mat-card class="terms-card">
      <mat-card-header class="header">
        <mat-card-title>
          Research Participant Information & Consent Form
        </mat-card-title>
      </mat-card-header>
      <mat-divider [inset]="true"></mat-divider>
      <mat-card-content class="terms-body">
        <p>You are being asked to participate in a research study. Researchers are required to provide a consent form to inform you about the research study, to convey that participation is voluntary, to explain risks and benefits of participation, and to empower you to make an informed decision. You should feel free to ask the researchers any questions you may have.
        </p>  
        <p>
          Study Title: Understanding Emotion Regulation in a Negotiation Context
          <br>
          Researcher and Title: Sergio Marquez
          <br>
          Department and Institution: MSU Department of Psychology
          <br>
          Address and Contact Information:
          <br>
          316 Physics Rd, East Lansing, MI 48825
          <br>
          marquezs@msu.edu
          <br>
          (786)-250-8045
        </p>   
        <p>
          <b>1.  PURPOSE OF RESEARCH</b><br>
          You are being asked to participate in a research study concerning emotions in the context of negotiation scenario. You are eligible for this study based on your access to MSU SONA’s HRP research pool.
          The purpose of this research is to investigate how two parties navigate a roleplaying scenario. We are seeking to investigate how emotions affect people as they negotiate with someone else and the different strategies people use. Your participation in this study will involve a 30-minute negotiation with 1-minute surveys in between negotiation rounds, followed by a final 15-minute survey.
        </p>
        <p>
          <b>2. WHAT YOU WILL DO</b><br>
          You will first be asked to provide your informed consent. You will then read important information regarding your role in the negotiation and who you will be roleplaying for the scenario. Following this, instructions will prompt you as you begin negotiating with the other party. You will also fill out surveys in between survey rounds and complete the final survey.
        </p>
        <p>
          <b>3. POTENTIAL BENEFITS</b><br>
          It is not likely that you will receive any direct benefits from your participation in this study. However, your participation in this study will contribute to the understanding of the perceptions, needs and experiences of college students, which may be used to identify resources that help students to be successful.
        </p>
        <p>
          <b>4. POTENTIAL RISKS</b><br>
          There are no foreseeable risks associated with participation in this study.
        </p>
        <p>
          <b>5. PRIVACY AND CONFIDENTIALITY</b><br>
          In order to link your previous responses to the responses in this survey, your name and email address will not be stripped from the data until both sets of your responses have been linked. The data for this project will be kept on a secure, password-protected network drive and will stay confidential and accessible only by the study researchers. The results of this study may be published or presented at professional meetings, but the identities of all research participants will remain anonymous.
        </p>
        <p>
          <b>6. YOUR RIGHTS TO PARTICIPATE, SAY NO, OR WITHDRAW</b><br>
          Your participation in the study is voluntary. If you do not wish to participate, answer specific questions or if you change your mind and wish to end your participation at any time, you will not be penalized or lose any benefits to which you are otherwise entitled.
        </p>
        <p>
          <b>7.  COSTS AND COMPENSATION FOR BEING IN THE STUDY</b><br>
          You will be compensated with 1-hour worth of SONA credit.
        </p>
        <p>
          <b>11.  CONTACT INFORMATION </b><br>
          If you have concerns or questions about this study, such as scientific issues, how to do any part of it, or to report an injury, please contact the researcher (Sergio Marquez, marquzs@msu.edu, (786) 250-8045).
          <br><br>
          f you have questions or concerns about your role and rights as a research participant, would like to obtain information or offer input, or would like to register a complaint about this study, you may contact, anonymously if you wish, the Michigan State University’s Human Research Protection Program at 517-355-2180, Fax 517-432-4503, or e-mail irb@msu.edu or regular mail at 207 Olds Hall, MSU, East Lansing, MI 48824.
        </p>
        <p>
          <b>12.  DOCUMENTATION OF INFORMED CONSENT.</b><br>
          Pressing the "Accept" button below means that you voluntarily agree to participate in this research study.
        </p>
        <!--
        <mat-form-field>
          <input maxLength="7" matInput [(ngModel)]="userId" placeholder="Enter your ID" [formControl]="idFormControl">       
          <mat-error *ngIf="userId?.length < 7 && !idFormControl.hasError('required')">
            ID must be 7 characters in length
          </mat-error>
          <mat-error *ngIf="idFormControl.hasError('required')">
            ID is <strong>required</strong>
          </mat-error>   
        </mat-form-field> &nbsp; &nbsp; 
        <mat-form-field>
          <input maxlength="255" matInput [(ngModel)]="userEmail" placeholder="Enter your email" type="email" [formControl]="emailFormControl">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>    -->   
      </mat-card-content>
      <mat-divider [inset]="true"></mat-divider>
      <mat-card-actions align="end">
        <!-- <button  [disabled]="(emailFormControl.hasError('email') || emailFormControl.hasError('required')) || (userId?.length < 7 || idFormControl.hasError('required'))" (click)="submit()" style="margin-right: 10px;" mat-raised-button color="primary" mat-button><i class="material-icons">done</i>Accept</button> -->
        <button (click)="submit()" style="margin-right: 10px;" mat-raised-button color="primary" mat-button><i class="material-icons">done</i>Accept</button>
      </mat-card-actions>
    </mat-card>
</div>


