.terms-card {
    width: 75%;
    margin: 10px auto;
    background-color:  #fafafa;
    max-height: 95%;
}

.main-div {
  min-height: 97%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.terms-body {
    margin-top: 15px;
    margin-left: 15px;
}

