.conatiner {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.instructions-card {
    width: 95%;
    margin: 10px auto;
}

.terms-body {
    font-size: 16px;
}


