<div  mat-dialog-title align="center">
  <h4 *ngIf="!warning"> {{title}} </h4>
  <h4 *ngIf="warning">Warning</h4>
</div>
<mat-dialog-content>
    <div [@flyInOut]="navigationState" class="container">
      <mat-card class="instructions-card" style="background-color: #fafafa">
          <mat-card-content class="terms-body" id="instructions-body" *ngIf="!warning">
            <p *ngIf="page == 1"> 
              West Wind is a U.S. wind energy company. They are proposing a new development project in the rural town of Pine Hills. However,
              Pine Hill's residents are wary of West Wind. This is due to a prior, negative experience with a different private sector led
              energy company. Residents felt that this previous company tried to take advantage of Pine Hills residents. Subsequently, the initial proposal for the project
              by West Wind was widely opposed by residents. The resident's main concern was due to the fact that the construction of this project will require roads to be 
              constructed on adjacent municipal land. Other concerns included the visibility of the windmills along with potential disruption of wildlife and 
              undue noise.
            </p>
            <p *ngIf="page == 1" ><b>West Wind and Pine Hills have two additional issues left to further negotiate. The first being the number of wind turbines to be constructed. The second
              is the amount of annual community benefit payments that West Wind will contrubute to Pine Hills for its own use.</b>
            </p>  
            <div *ngIf="page == 2">
             <p>
                For this exercise, you will be playing 'Riley Marks', the representative of
                Pine Hills. As Riley Marks, you will be negotiating with representative(s)
                of West Wind to work out the last two issues. You plan to run as mayor of
                Pine Hills next year. Given the concerns of Pine Hill residents, this is an
                important opportunity for you to demonstrate the ability to represent the
                concerns of the community. Therefore, you do not want to be in the
                position of advocating for an agreement that is ultimately unpopular with
                the community. Citizens are exceptionally worried by the rumor that West
                Wind is planning on building 20 wind mills. <b> Many residents have told you
                that anything above 10 turbines will be too much, while others have
                argued that the project should be scrapped all together. This leads you to
                believe that 10 turbines are the maximum politically acceptable.</b> On the
                other hand, every resident acknowledges the benefits that will come with
                the annual benefit payments offered by West Wind since there are many
                local services, including local education, that will benefit from the
                additional funds.<b> Accordingly, you agree that $100,000 in annual
                payments would be the minimum needed to impact the locals school or be
                felt in the community.</b>
             </p>
             <p>
                <b>Your first priority is to secure as much in annual community
                benefits payments as possible.</b> Remember that these represent substantial,
                direct financial benefits for the Pine Hills residents.<b>The second priority is
                to lower the number of turbines that West Wind establishes.</b>You need to
                remember that you want to make a politically smart agreement while
                understanding that each additional turbine potentially creates additional
                disturbance.
             </p>
            </div> 
            <div *ngIf="page==3">
              <p>
                  For this exercise, you will be negotiating with {{users}} {{pronoun}} will be representing the West Wind
                  Company. Remember that the West Wind project is supported by the state's governor, given that renewable energy has been identified as an important goal
                  for the state. West Wind has decided to revise the project with local's concerns in mind in hopes to
                  improve relations with Pine Hills. Specifically, West Wind has agreed to reroute proposed access roads
                  to reduce truck noise and traffic. This comes at a considerable cost to the company ($200k+ annually).
                  West Wind Co. is looking to negotiate two issues. The first being the number of wind turbines to be
                  constructed. The second is the amount of annual community benefit payments that West Wind Co. will
                  contribute to Pine Hills.
              </p>
              <p>
                  Once you begin the negotiation, West Wind Co. will be prompted to introduce themselves. You will then
                  have the chance to introduce yourself as well. Follow the directions on the screen to navigate (i.e.,
                  accept or decline offers) the negotiation with West Wind Co.
              </p>
            </div>
            <div *ngIf="page == 4">
              <p>
                  Before you begin, here are some helpful rules to follow to help you
                  navigate this negotiation:
              </p>
              <ul>
                <li>Displaying positive emotions throughout the negotiation (e.g. use
                    emojis, positive situation framing) is a helpful strategy for
                    successful negotiation
                </li>
                <li>Additionally, displaying negative emotions (e.g. sarcasm,
                    frustration, anger) is an ineffective strategy while navigating the
                    negotiation
                </li>
                <li>Directly addressing the party by their first name is helpful strategy
                    (e.g. the use of personal pronouns such as I, we) for a successful
                    negotiation
                </li>
                <li>Bargains are best expressed using correct grammar, syntax, and
                    full sentences, to most clearly express ideas to the other party.
                </li>
                <li>Explanation of the bargain being proposed is also helpful for the
                    other party by reducing the chance of miscommunication
                    throughout the negotiation.
                </li>
              </ul>
            </div>
          </mat-card-content>
          <mat-card-content *ngIf="warning">
            <p>
              If you click accept, you will accept a bargain far below the expectation of the townspeople. Remember that you are looking 
              to bargain for greater than 100k in stipend and fewer than less than 10 windmills constructed in Pine Hills from West Wind. If you accept this offer, you will forfeit and the negotiation will be over. 
              Are you sure you would like to accept this offer?         
            </p>
          </mat-card-content>
        </mat-card>
    </div>
</mat-dialog-content>
<mat-dialog-actions *ngIf="!warning" align="end">
  <button (click)="decrementPage()" mat-raised-button color="primary" mat-button [disabled]="page == 1"><i class="material-icons">arrow_back</i> &nbsp; Back</button>
  <button (click)="incrementPage()" mat-raised-button color="primary" mat-button [disabled]="page == 4"><i class="material-icons">arrow_forward</i> &nbsp; Continue</button> 
  <button mat-raised-button mat-dialog-close color="primary" mat-button [disabled]="page != 4"><i class="material-icons">done</i> &nbsp; Get Started</button>
</mat-dialog-actions>
<mat-dialog-actions *ngIf="warning" align="end">
  <button mat-raised-button color="primary" mat-button mat-dialog-close>Decline Offer</button>
  <button (click)="endStudy()" mat-dialog-close mat-raised-button color="warn" mat-button>Accept Offer Anyway</button>
</mat-dialog-actions>
