.terms-card {
    width: 90%;
    margin: 10px auto;
    background-color:  #fafafa;
    max-height: 95%;
}

.main-div {
  min-height: 97%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.terms-body {
    margin-top: 15px;
    margin-left: 15px;
    min-height: 95%;
}

#header {
    position: absolute;
    top: 2%;
  }
  
  .mt-5 {
    margin-top: 5px !important;
  }
  
  .table {
    justify-content: center !important;
  }

  .mat-cell {
      padding: 10px;
  }

.mat-elevation-z8 {
    margin-top: 2px;
}

.text-inside-grid {
    position: absolute;
    left: 5px;
}

.align-form-controls {
    position: absolute;
    left: 20px;
}

