<div class="main-div">
  <mat-card class="terms-card" *ngIf="!surveyFinalSubmitted && !showDebrief">
      <mat-card-header class="header">
        <mat-card-title class="title-card-center">
          Final Survey
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="terms-body">
        <div class="table-responsive" class="mt-5">
            <div>
                <mat-card class="title">
                  <h4>
                    For each of the following statements, please indicate to what degree you agree on the scale provided below
                  </h4>
                  <h5>(1 = strongly agree, 5 = strongly disagree)</h5>
                </mat-card>
                <mat-table #table [dataSource]="dataSource6" class="mat-elevation-z8">
                  <ng-container matColumnDef="question">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element6">{{
                      element6.question
                    }}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="StronglyAgree">
                    <mat-header-cell *matHeaderCellDef class="table"
                      >Strongly disagree</mat-header-cell
                    >
                    <mat-cell *matCellDef="let element6" class="table">
                      <mat-radio-button (click)="setQuestionSix(element6.stronglyAgree, element6.position)" name="{{element6.position}}7"></mat-radio-button
                    ></mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="SomewhatAgree">
                    <mat-header-cell *matHeaderCellDef class="table"
                      >Somewhat disagree</mat-header-cell
                    >
                    <mat-cell *matCellDef="let element6" class="table"
                      ><mat-radio-button (click)="setQuestionSix(element6.somewhatAgree, element6.position)" name="{{element6.position}}7" ></mat-radio-button
                    ></mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Neither">
                    <mat-header-cell *matHeaderCellDef class="table"
                      >Neither agree nor disagree</mat-header-cell
                    >
                    <mat-cell *matCellDef="let element6" class="table"
                      ><mat-radio-button (click)="setQuestionSix(element6.neither, element6.position)" name="{{element6.position}}7"></mat-radio-button
                    ></mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="SomewhatDisagree">
                    <mat-header-cell *matHeaderCellDef class="table"
                      >Somewhat agree</mat-header-cell
                    >
                    <mat-cell *matCellDef="let element6" class="table"
                      ><mat-radio-button (click)="setQuestionSix(element6.somewhatDisagree, element6.position)" name="{{element6.position}}7"></mat-radio-button
                    ></mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="StronglyDisagree">
                    <mat-header-cell *matHeaderCellDef class="table"
                      >Strongly agree</mat-header-cell
                    >
                    <mat-cell *matCellDef="let element6" class="table"
                      ><mat-radio-button (click)="setQuestionSix(element6.stronglyDisagree, element6.position)" name="{{element6.position}}7"></mat-radio-button
                    ></mat-cell>
                  </ng-container>
                  <mat-header-row
                    *matHeaderRowDef="displayedColumns; sticky: true"
                  ></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                </mat-table>
              </div>
              &nbsp;
          <div>
            <mat-card class="title">
              <h4>
                For each of the following statements, please indicate to what degree
                to which you think the question applies to you on the scale provided below
              </h4>
              <h5>(1 = definitely the other, 7 = definitely myself)</h5>
            </mat-card>
            <mat-table #table [dataSource]="dataSource7" class="mat-elevation-z8">
              <ng-container matColumnDef="question">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element7">{{
                  element7.question
                }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="StronglyDisagree">
                <mat-header-cell *matHeaderCellDef class="table"
                  >Definitely the other</mat-header-cell
                >
                <mat-cell *matCellDef="let element7" class="table">
                  <mat-radio-button (click)="setQuestionSeven(element7.stronglyDisagree, element7.position)" name="{{element7.position}}8"></mat-radio-button
                ></mat-cell>
              </ng-container>
              <ng-container matColumnDef="SomewhatDisagree">
                <mat-header-cell *matHeaderCellDef class="table"
                  >Moderately the other</mat-header-cell
                >
                <mat-cell *matCellDef="let element7" class="table"
                  ><mat-radio-button (click)="setQuestionSeven(element7.somewhatDisagree, element7.position)" name="{{element7.position}}8" ></mat-radio-button
                ></mat-cell>
              </ng-container>
              <ng-container matColumnDef="Neither">
                <mat-header-cell *matHeaderCellDef class="table"
                  >Slightly the other</mat-header-cell
                >
                <mat-cell *matCellDef="let element7" class="table"
                  ><mat-radio-button (click)="setQuestionSeven(element7.neither, element7.position)" name="{{element7.position}}8"></mat-radio-button
                ></mat-cell>
              </ng-container>
              <ng-container matColumnDef="SomewhatAgree">
                <mat-header-cell *matHeaderCellDef class="table"
                  >Neither I nor the other</mat-header-cell
                >
                <mat-cell *matCellDef="let element7" class="table"
                  ><mat-radio-button (click)="setQuestionSeven(element7.somewhatAgree, element7.position)" name="{{element7.position}}8"></mat-radio-button
                ></mat-cell>
              </ng-container>
              <ng-container matColumnDef="StronglyAgree">
                <mat-header-cell *matHeaderCellDef class="table"
                  >Slightly myself</mat-header-cell
                >
                <mat-cell *matCellDef="let element7" class="table"
                  ><mat-radio-button (click)="setQuestionSeven(element7.stronglyAgree, element7.position)" name="{{element7.position}}8"></mat-radio-button
                ></mat-cell>
              </ng-container>
              <ng-container matColumnDef="Six">
                <mat-header-cell *matHeaderCellDef class="table"
                  >Moderately myself</mat-header-cell
                >
                <mat-cell *matCellDef="let element7" class="table"
                  ><mat-radio-button (click)="setQuestionSeven(element7.six, element7.position)" name="{{element7.position}}8"></mat-radio-button
                ></mat-cell>
              </ng-container>
              <ng-container matColumnDef="Seven">
                <mat-header-cell *matHeaderCellDef class="table"
                  >Definitely myself</mat-header-cell
                >
                <mat-cell *matCellDef="let element7" class="table"
                  ><mat-radio-button (click)="setQuestionSeven(element7.seven, element7.position)" name="{{element7.position}}8"></mat-radio-button
                ></mat-cell>
              </ng-container>
              <mat-header-row
                *matHeaderRowDef="displayedColumns2; sticky: true"
              ></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns2"></mat-row>
            </mat-table>
          </div>
        &nbsp;
        <div>
            <mat-card class="title">
              <h4>
                For each of the following statements, please indicate to what degree
                you agree on the scale provided below.
              </h4>
              <h5>(1 = totally agree, 7 = totally disagree)</h5>
            </mat-card>
            <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">
              <ng-container matColumnDef="question">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">{{
                  element.question
                }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="StronglyDisagree">
                <mat-header-cell *matHeaderCellDef class="table"
                  >Totally agree</mat-header-cell
                >
                <mat-cell *matCellDef="let element" class="table">
                  <mat-radio-button (click)="setQuestionOne(element.stronglyDisagree, element.position)" name="{{element.position}}1"></mat-radio-button
                ></mat-cell>
              </ng-container>
              <ng-container matColumnDef="SomewhatDisagree">
                <mat-header-cell *matHeaderCellDef class="table"
                  >Moderately agree</mat-header-cell
                >
                <mat-cell *matCellDef="let element" class="table"
                  ><mat-radio-button (click)="setQuestionOne(element.somewhatDisagree, element.position)" name="{{element.position}}1" ></mat-radio-button
                ></mat-cell>
              </ng-container>
              <ng-container matColumnDef="Neither">
                <mat-header-cell *matHeaderCellDef class="table"
                  >Slightly agree</mat-header-cell
                >
                <mat-cell *matCellDef="let element" class="table"
                  ><mat-radio-button (click)="setQuestionOne(element.neither, element.position)" name="{{element.position}}1"></mat-radio-button
                ></mat-cell>
              </ng-container>
              <ng-container matColumnDef="SomewhatAgree">
                <mat-header-cell *matHeaderCellDef class="table"
                  >Neither agree nor disagree</mat-header-cell
                >
                <mat-cell *matCellDef="let element" class="table"
                  ><mat-radio-button (click)="setQuestionOne(element.somewhatAgree, element.position)" name="{{element.position}}1"></mat-radio-button
                ></mat-cell>
              </ng-container>
              <ng-container matColumnDef="StronglyAgree">
                <mat-header-cell *matHeaderCellDef class="table"
                  >Slightly disagree</mat-header-cell
                >
                <mat-cell *matCellDef="let element" class="table"
                  ><mat-radio-button (click)="setQuestionOne(element.stronglyAgree, element.position)" name="{{element.position}}1"></mat-radio-button
                ></mat-cell>
              </ng-container>
              <ng-container matColumnDef="Six">
                <mat-header-cell *matHeaderCellDef class="table"
                  >Moderately disagree</mat-header-cell
                >
                <mat-cell *matCellDef="let element" class="table"
                  ><mat-radio-button (click)="setQuestionOne(element.six, element.position)" name="{{element.position}}1"></mat-radio-button
                ></mat-cell>
              </ng-container>
              <ng-container matColumnDef="Seven">
                <mat-header-cell *matHeaderCellDef class="table"
                  >Totally disagree</mat-header-cell
                >
                <mat-cell *matCellDef="let element" class="table"
                  ><mat-radio-button (click)="setQuestionOne(element.seven, element.position)" name="{{element.position}}1"></mat-radio-button
                ></mat-cell>
              </ng-container>
              <mat-header-row
                *matHeaderRowDef="displayedColumns2; sticky: true"
              ></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns2"></mat-row>
            </mat-table>
          </div>
        </div>
        &nbsp;
        <div>
          <mat-card class="title">
            <h4>
              For each of the following statements, please indicate to what degree you agree on the scale provided below.
            </h4>
            <h5>(1 = totally agree, 7 = totally disagree)</h5>
          </mat-card>
          <mat-table #table [dataSource]="dataSource2" class="mat-elevation-z8">
            <ng-container matColumnDef="question">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let element1">{{
                element1.question
              }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="StronglyDisagree">
              <mat-header-cell *matHeaderCellDef class="table"
                >Totally agree</mat-header-cell
              >
              <mat-cell *matCellDef="let element1" class="table">
                <mat-radio-button (click)="setQuestionTwo(element1.stronglyDisagree, element1.position)" name="{{element1.position}}2"></mat-radio-button
              ></mat-cell>
            </ng-container>
            <ng-container matColumnDef="SomewhatDisagree">
              <mat-header-cell *matHeaderCellDef class="table"
                >Moderately agree</mat-header-cell
              >
              <mat-cell *matCellDef="let element1" class="table"
                ><mat-radio-button (click)="setQuestionTwo(element1.somewhatDisagree, element1.position)" name="{{element1.position}}2"></mat-radio-button
              ></mat-cell>
            </ng-container>
            <ng-container matColumnDef="Neither">
              <mat-header-cell *matHeaderCellDef class="table"
                >Slightly agree</mat-header-cell
              >
              <mat-cell *matCellDef="let element1" class="table"
                ><mat-radio-button (click)="setQuestionTwo(element1.neither, element1.position)" name="{{element1.position}}2"></mat-radio-button
              ></mat-cell>
            </ng-container>
            <ng-container matColumnDef="SomewhatAgree">
              <mat-header-cell *matHeaderCellDef class="table"
                >Neither agree nor disagree</mat-header-cell
              >
              <mat-cell *matCellDef="let element1" class="table"
                ><mat-radio-button (click)="setQuestionTwo(element1.somewhatAgree, element1.position)" name="{{element1.position}}2"></mat-radio-button
              ></mat-cell>
            </ng-container>
            <ng-container matColumnDef="StronglyAgree">
              <mat-header-cell *matHeaderCellDef class="table"
                >Slightly disagree</mat-header-cell
              >
              <mat-cell *matCellDef="let element1" class="table"
                ><mat-radio-button (click)="setQuestionTwo(element1.stronglyAgree, element1.position)" name="{{element1.position}}2"></mat-radio-button
              ></mat-cell>
            </ng-container>
            <ng-container matColumnDef="Six">
              <mat-header-cell *matHeaderCellDef class="table"
                >Moderately disagree</mat-header-cell
              >
              <mat-cell *matCellDef="let element1" class="table"
                ><mat-radio-button (click)="setQuestionTwo(element1.six, element1.position)" name="{{element1.position}}2"></mat-radio-button
              ></mat-cell>
            </ng-container>
            <ng-container matColumnDef="Seven">
              <mat-header-cell *matHeaderCellDef class="table"
                >Totally disagree</mat-header-cell
              >
              <mat-cell *matCellDef="let element1" class="table"
                ><mat-radio-button (click)="setQuestionTwo(element1.seven, element1.position)" name="{{element1.position}}2"></mat-radio-button
              ></mat-cell>
            </ng-container>
          <mat-header-row
            *matHeaderRowDef="displayedColumns2; sticky: true"
          ></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns2"></mat-row>
          </mat-table>
        </div>
        &nbsp;
        <div>
          <mat-card class="title">
            <h4>
              For each of the following statements, please indicate to what degree you agree on the scale provided below.
            </h4>
            <h5>(1 = totally agree, 7 = totally disagree)</h5>
          </mat-card>
          <mat-table #table [dataSource]="dataSource3" class="mat-elevation-z8">
            <ng-container matColumnDef="question">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let element2">{{
                element2.question
              }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="StronglyDisagree">
              <mat-header-cell *matHeaderCellDef class="table"
                >Totally agree</mat-header-cell
              >
              <mat-cell *matCellDef="let element2" class="table">
                <mat-radio-button (click)="setQuestionThree(element2.stronglyDisagree, element2.position)" name="{{element2.position}}3"></mat-radio-button
              ></mat-cell>
            </ng-container>
            <ng-container matColumnDef="SomewhatDisagree">
              <mat-header-cell *matHeaderCellDef class="table"
                >Moderately agree</mat-header-cell
              >
              <mat-cell *matCellDef="let element2" class="table"
                ><mat-radio-button (click)="setQuestionThree(element2.somewhatDisagree, element2.position)" name="{{element2.position}}3"></mat-radio-button
              ></mat-cell>
            </ng-container>
            <ng-container matColumnDef="Neither">
              <mat-header-cell *matHeaderCellDef class="table"
                >Slightly agree</mat-header-cell
              >
              <mat-cell *matCellDef="let element2" class="table"
                ><mat-radio-button (click)="setQuestionThree(element2.neither, element2.position)" name="{{element2.position}}3"></mat-radio-button
              ></mat-cell>
            </ng-container>
            <ng-container matColumnDef="SomewhatAgree">
              <mat-header-cell *matHeaderCellDef class="table"
                >Neither agree nor disagree</mat-header-cell
              >
              <mat-cell *matCellDef="let element2" class="table"
                ><mat-radio-button (click)="setQuestionThree(element2.somewhatAgree, element2.position)" name="{{element2.position}}3"></mat-radio-button
              ></mat-cell>
            </ng-container>
            <ng-container matColumnDef="StronglyAgree">
              <mat-header-cell *matHeaderCellDef class="table"
                >Slightly disagree</mat-header-cell
              >
              <mat-cell *matCellDef="let element2" class="table"
                ><mat-radio-button (click)="setQuestionThree(element2.stronglyAgree, element2.position)" name="{{element2.position}}3"></mat-radio-button
              ></mat-cell>
            </ng-container>
            <ng-container matColumnDef="Six">
              <mat-header-cell *matHeaderCellDef class="table"
                >Moderately disagree</mat-header-cell
              >
              <mat-cell *matCellDef="let element2" class="table"
                ><mat-radio-button (click)="setQuestionThree(element2.six, element2.position)" name="{{element2.position}}3"></mat-radio-button
              ></mat-cell>
            </ng-container>
            <ng-container matColumnDef="Seven">
              <mat-header-cell *matHeaderCellDef class="table"
                >Totally disagree</mat-header-cell
              >
              <mat-cell *matCellDef="let element2" class="table"
                ><mat-radio-button (click)="setQuestionThree(element2.seven, element2.position)" name="{{element2.position}}3"></mat-radio-button
              ></mat-cell>
            </ng-container>
          <mat-header-row
            *matHeaderRowDef="displayedColumns2; sticky: true"
          ></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns2"></mat-row>
          </mat-table>
        </div>
      &nbsp;
      <div>
        <mat-card class="title">
          <h4>
            For each of the following statements, please indicate to what degree
            you agree on the scale provided below.
          </h4>
          <h5>(1 = strongly agree, 5 = strongly disagree)</h5>
        </mat-card>
        <mat-table #table [dataSource]="dataSource4" class="mat-elevation-z8">
          <ng-container matColumnDef="question">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element3">{{
              element3.question
            }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="StronglyDisagree">
            <mat-header-cell *matHeaderCellDef class="table"
              >Strongly disagree</mat-header-cell
            >
            <mat-cell *matCellDef="let element3" class="table">
              <mat-radio-button (click)="setQuestionFour(element3.stronglyDisagree, element3.position)" name="{{element3.position}}4"></mat-radio-button
            ></mat-cell>
          </ng-container>
          <ng-container matColumnDef="SomewhatDisagree">
            <mat-header-cell *matHeaderCellDef class="table"
              >Somewhat disagree</mat-header-cell
            >
            <mat-cell *matCellDef="let element3" class="table"
              ><mat-radio-button (click)="setQuestionFour(element3.somewhatDisagree, element3.position)" name="{{element3.position}}4" ></mat-radio-button
            ></mat-cell>
          </ng-container>
          <ng-container matColumnDef="Neither">
            <mat-header-cell *matHeaderCellDef class="table"
              >Neither agree nor disagree</mat-header-cell
            >
            <mat-cell *matCellDef="let element3" class="table"
              ><mat-radio-button (click)="setQuestionFour(element3.neither, element3.position)" name="{{element3.position}}4"></mat-radio-button
            ></mat-cell>
          </ng-container>
          <ng-container matColumnDef="SomewhatAgree">
            <mat-header-cell *matHeaderCellDef class="table"
              >Somewhat agree</mat-header-cell
            >
            <mat-cell *matCellDef="let element3" class="table"
              ><mat-radio-button (click)="setQuestionFour(element3.somewhatAgree, element3.position)" name="{{element3.position}}4"></mat-radio-button
            ></mat-cell>
          </ng-container>
          <ng-container matColumnDef="StronglyAgree">
            <mat-header-cell *matHeaderCellDef class="table"
              >Strongly agree</mat-header-cell
            >
            <mat-cell *matCellDef="let element3" class="table"
              ><mat-radio-button (click)="setQuestionFour(element3.stronglyAgree, element3.position)" name="{{element3.position}}4"></mat-radio-button
            ></mat-cell>
          </ng-container>
          <mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
          ></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
      </div>
      &nbsp;
      <div>
        <mat-card class="title">
          <h4>
            For each of the following statements, please indicate to what degree
            you agree on the scale provided below.
          </h4>
          <h5>(1 = strongly disagree, 5 = strongly agree)</h5>
        </mat-card>
        <mat-table #table [dataSource]="dataSource5" class="mat-elevation-z8">
          <ng-container matColumnDef="question">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element4">{{
                element4.question
            }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="StronglyDisagree">
            <mat-header-cell *matHeaderCellDef class="table"
              >Strongly disagree</mat-header-cell
            >
            <mat-cell *matCellDef="let element4" class="table">
              <mat-radio-button (click)="setQuestionFive(element4.stronglyDisagree, element4.position)" name="{{element4.position}}5"></mat-radio-button
            ></mat-cell>
          </ng-container>
          <ng-container matColumnDef="SomewhatDisagree">
            <mat-header-cell *matHeaderCellDef class="table"
              >Somewhat disagree</mat-header-cell
            >
            <mat-cell *matCellDef="let element4" class="table"
              ><mat-radio-button (click)="setQuestionFive(element4.somewhatDisagree, element4.position)" name="{{element4.position}}5" ></mat-radio-button
            ></mat-cell>
          </ng-container>
          <ng-container matColumnDef="Neither">
            <mat-header-cell *matHeaderCellDef class="table"
              >Neither agree nor disagree</mat-header-cell
            >
            <mat-cell *matCellDef="let element4" class="table"
              ><mat-radio-button (click)="setQuestionFive(element4.neither, element4.position)" name="{{element4.position}}5"></mat-radio-button
            ></mat-cell>
          </ng-container>
          <ng-container matColumnDef="SomewhatAgree">
            <mat-header-cell *matHeaderCellDef class="table"
              >Somewhat agree</mat-header-cell
            >
            <mat-cell *matCellDef="let element4" class="table"
              ><mat-radio-button (click)="setQuestionFive(element4.somewhatAgree, element4.position)" name="{{element4.position}}5"></mat-radio-button
            ></mat-cell>
          </ng-container>
          <ng-container matColumnDef="StronglyAgree">
            <mat-header-cell *matHeaderCellDef class="table"
              >Strongly agree</mat-header-cell
            >
            <mat-cell *matCellDef="let element4" class="table"
              ><mat-radio-button (click)="setQuestionFive(element4.stronglyAgree, element4.position)" name="{{element4.position}}5"></mat-radio-button
            ></mat-cell>
          </ng-container>
          <mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
          ></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
      </div>
      &nbsp;
      </mat-card-content> 
      <mat-divider [inset]="true"></mat-divider>
      <mat-card-actions align="end">
      <button (click)="submitSurvey()" style="margin-right: 10px;" mat-raised-button color="primary" mat-button><i class="material-icons">done</i>Submit Survey</button>
        <!-- <button (click)="showDemoSurvey()" style="margin-right: 10px;" mat-raised-button color="primary" mat-button><i class="material-icons">done</i>Complete Survey</button> -->
      </mat-card-actions>
    </mat-card>


    <!-- demographics survey card -->
    <!-- <mat-card class="terms-card" *ngIf="surveyFinalSubmitted && !showDebrief">
      <mat-card-header class="header">
        <mat-card-title>Demographics Survey</mat-card-title>
      </mat-card-header>
      <mat-divider [inset]="true"></mat-divider>
      <mat-card-content class="terms-body">
        <div>
          <mat-card class="title">
            <h4>
              For each of the following statements, please fill in the appropriate response.
            </h4>
          </mat-card>
          <mat-card class="title">
            <mat-card-content>
              <mat-grid-list cols="4" rowHeight="200">
                <mat-grid-tile [colspan]="1">
                  <div class="text-inside-grid"><p><b>1. Please select the gender identity you identify with most. (Select one)</b></p></div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1">
                  <div class="align-form-controls">
                    <mat-radio-group>
                      <mat-radio-button (click)="setGender('male')" style="padding: 2px;" value="male">Male</mat-radio-button><br>
                      <mat-radio-button (click)="setGender('female')"style="padding: 2px;" value="female">Female</mat-radio-button><br>
                      <mat-radio-button (click)="setGender('non-binary')" style="padding: 2px;" value="Non-binary">Non-binary</mat-radio-button><br>
                      <mat-radio-button (click)="toggleOtherSelected()" style="padding: 2px;" value="other">Other (Please describe  how you identify in the <br> box below)</mat-radio-button>
                    </mat-radio-group>
                    <mat-form-field><textarea [(ngModel)]="otherSelectedText" [disabled]="!otherSelected" matInput matTextAreaAutoSize ></textarea></mat-form-field>
                  </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1"></mat-grid-tile>
                <mat-grid-tile [colspan]="1"></mat-grid-tile>
                <mat-grid-tile [colspan]="1">
                  <div class="text-inside-grid"><p><b>2. Please select all options that describe your racial and ethnic identities. (Select one or more)</b></p></div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1">
                  <div class="align-form-controls">
                    <section>
                      <mat-checkbox (click)="toggleWhite()" style="padding: 2px;" value="white">White</mat-checkbox><br>
                      <mat-checkbox (click)="toggleLatinx()" style="padding: 2px;" value="latinx">Latinx</mat-checkbox><br>
                      <mat-checkbox (click)="toggleBlack()" style="padding: 2px;" value="black">Black</mat-checkbox><br>
                      <mat-checkbox (click)="toggleIslander()" style="padding: 2px;" value="islander">Native Hawaiian/Pacific Islander</mat-checkbox><br>
                      <mat-checkbox (click)="toggleEastAsian()" style="padding: 2px;" value="eastAsian">East Asian</mat-checkbox><br>
                      <mat-checkbox (click)="toggleSouthAsian()" style="padding: 2px;" value="southAsian">South Asian</mat-checkbox><br>
                      <mat-checkbox (click)="toggleNativeAmerican()" style="padding: 2px;" value="nativeAmerican">Native American/Alaska Native</mat-checkbox>
                    </section>
                  </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1"></mat-grid-tile>
                <mat-grid-tile [colspan]="1"></mat-grid-tile>
                <mat-grid-tile [colspan]="1" style="justify-content: left">
                  <div class="text-inside-grid"><p><b>3. Please indicate your age.</b></p></div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1">
                  <div class="align-form-controls" style="top: 70px;">
                    <mat-form-field>
                      <input [(ngModel)]="userAge" matInput placeholder="Age" type="number">
                    </mat-form-field>
                  </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1"></mat-grid-tile>
                <mat-grid-tile [colspan]="1"></mat-grid-tile>
                <mat-grid-tile [colspan]="1">
                  <div class="text-inside-grid"><p><b>4. Plelase indicate your current year in college.</b></p></div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1">
                  <div class="align-form-controls" style="bottom: 75px;">
                    <mat-radio-button (click)="setCollegeYear('freshman')" style="padding: 2px;" value="freshman">Freshman</mat-radio-button><br>
                    <mat-radio-button (click)="setCollegeYear('sophomore')" style="padding: 2px;" value="sophomore">Sophomore</mat-radio-button><br>
                    <mat-radio-button (click)="setCollegeYear('junior')" style="padding: 2px;" value="junior">Junior</mat-radio-button><br>
                    <mat-radio-button (click)="setCollegeYear('senior')" style="padding: 2px;" value="senior">Senior</mat-radio-button>
                  </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1"></mat-grid-tile>
                <mat-grid-tile [colspan]="1"></mat-grid-tile>
                <mat-grid-tile [colspan]="1">
                  <div class="text-inside-grid"><p><b>5. Do you have any paid work experience?</b></p></div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1">
                  <div class="align-form-controls" style="bottom: 95px;">
                    <mat-radio-button style="padding: 2px;" value="workExperience">Yes</mat-radio-button><br>
                    <mat-radio-button style="padding: 2px;" value="noWorkExperience">No</mat-radio-button><br>
                  </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1"></mat-grid-tile>
                <mat-grid-tile [colspan]="1"></mat-grid-tile>
              </mat-grid-list>  
            </mat-card-content>
          </mat-card>
        </div>
        &nbsp;
      </mat-card-content>
      <mat-card-actions align="end">
        <button (click)="submitSurvey()" style="margin-right: 10px;" mat-raised-button color="primary" mat-button><i class="material-icons">done</i>Submit</button>
      </mat-card-actions>
    </mat-card> -->

    <!-- debrief card -->
    <mat-card class="terms-card" *ngIf="surveyFinalSubmitted && showDebrief">
    <mat-card-header class="header">
        <mat-card-title>
          Debrief Form
        </mat-card-title>
      </mat-card-header>
      <mat-divider [inset]="true"></mat-divider>
      <mat-card-content class="terms-body">
        <p>During this study, you were not provided with a completely accurate picture of the experimenter’s goal. This is commonly done in psychological research to reduce the chance that participants are influenced by demand characteristics. Demand characteristics refer to a change in participants’ behavior, unconscious or conscious, that results from knowing the purpose of a study. For example, a participant could act in the manner hypothesized by a researcher to try to “help out” the researcher. Unfortunately, this would provide potentially invalid findings for the researcher since participants would be acting due to demand characteristics rather than due to the experimental manipulation. Since we valued your unbiased responses, we did not tell you our purpose until now.</p>
        <p>This study was designed to investigate emotion regulation in response to negative or positive emotional stimuli from opponents. The effects of negotiating with a single opponent or multiple opponents and subsequent perceptions of one’s power was also investigated. You were led to believe that you would be negotiating with other, real students during the experiment. Thus, you may have believed that the negative reactions by your opponent(s) were genuine reactions by real people. However, all of your opponent’s responses were in fact simulated and automated. We would like to reassure you that any negative responses you may have received during the scenario were not genuine. These responses were programmed to occur regardless of your response and do not reflect any actual behavior on your behalf.</p>
        <p>We acknowledge that it may have been frustrating to receive negative responses to your performance from opponents you may have perceived as real during this task.  We also acknowledge that negotiating against multiple opponents simultaneously may be perceived as stressful or unfair. We apologize for any discomfort these factors may have caused. Receiving data from your genuine responses was critical for our research objectives. Our goal is to use this research to identify how positive or negative emotional stimuli may affect emotion regulation in real-world settings (workplaces, academic settings, etc.). Specifically, settings where engagement with multiple opponents is not uncommon. This information may help develop practices designed to best predict and mitigate effortful emotion regulation outcomes in the contextual circumstances encountered. Your role as a research participant has assisted this process.</p>
        <p>Participating in psychological research can be interesting and exciting; you may be tempted to tell a friend or family member about this study now that we have revealed its purpose. However, we’d like to remind you that demand characteristics can invalidate experimental findings. We kindly ask that you do not share any information about this study with any potential participants (other students, classmates, etc.).</p>
        <p>If you have any questions or concerns about this study, you may contact the study coordinator Sergio Marquez, Department of Psychology, Michigan State University, East Lansing, MI 48824; marquezs@msu.edu</p>
      </mat-card-content>
      <mat-divider [inset]="true"></mat-divider>
      <mat-card-actions align="end">
          <button (click)="showDemoSurvey()" style="margin-right: 10px;" mat-raised-button color="primary" mat-button><i class="material-icons">done</i> &nbsp; Complete Study</button>
      </mat-card-actions>
    </mat-card>

  <mat-card class="terms-card" *ngIf="surveyFinalSubmitted && !showDebrief">
    <mat-card-header class="header">
      <mat-card-title>
        Study Completed
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="terms-body">
      <p>The study is now finished. Next, you will complete the next survey where you will be asked to enter your randomly assigned ID, which is shown below: </p>
      <p><b>{{ userId }}</b></p>
      <p>Please write this ID down so it can be entered in the next survey. </p>
      <p>Thank you for your participation! You may now exit the browser.</p>
    </mat-card-content>
  </mat-card>
</div>
  